<template>
  <v-container>
    <div class="d-flex align-center mb-3">
      <p class="text-h5 font-weight-bold mb-0"> จัดการขยะที่รับซื้อ </p>
      <v-spacer />
      <v-btn :disabled="items.length <= 0" class="mr-4" color="green" outlined large @click="exportExcel">
        <v-icon left size="28"> mdi mdi-export </v-icon>
        <span> Export To Excel </span>
      </v-btn>
      <v-btn class="black--text" large @click="showGarbageDialog()"> + เพิ่มขยะที่รับซื้อ </v-btn>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางจัดการขยะที่รับซื้อ </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search">
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.garbage_image`]="{ item }">
          <v-img class="mx-auto my-4" :src="item.garbage_image[0]" width="80" height="80" />
        </template>
        <template #[`item.garbage_details`]="{ item }">
          <v-btn elevation="0" rounded outlined x-small @click="showDetailGarbageDialog(item.garbage_details)"> ดูรายละเอียด </v-btn>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn elevation="0" icon x-small @click="showGarbageDialog(item)">
            <v-icon> mdi mdi-pencil </v-icon>
          </v-btn>
          <v-btn elevation="0" icon x-small @click="showDeleteGarbageDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <detailDialogComponent ref="detailDialogComponent" dialog-name="รายละเอียดขยะ" />
    <garbageDialogComponent ref="garbageDialogComponent" @confirm="confirmGarbage" @fetchData="fetchData" />
    <deleteDialogComponent ref="deleteDialogComponent" dialog-name="ลบข้อมูล" @confirm="confirmDelete" />
  </v-container>
</template>

<script>
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import detailDialogComponent from '@/components/dialogs/etc/detail.vue'
import garbageDialogComponent from '@/components/dialogs/forms/garbage.vue'
import deleteDialogComponent from '@/components/dialogs/etc/delete.vue'
import garbageApi from '@/services/api/garbagesApi'
import * as XLSX from 'xlsx'
import { mixins } from '@/mixins'
export default {
  name: 'ManageGarbagePage',
  components: { dataTableEtcComponent, detailDialogComponent, deleteDialogComponent, garbageDialogComponent },
  mixins: [mixins],
  data () {
    return {
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center' },
        { text: 'รูปภาพ', value: 'garbage_image', sortable: false, align: 'center' },
        { text: 'ชื่อขยะ', value: 'garbage_name', sortable: false },
        { text: 'ประเภทขยะ', value: 'garbage_category.garbage_category_name', sortable: false, width: '20%' },
        { text: 'ราคาที่รับซื้อ (บาท)', value: 'garbage_price', sortable: false, align: 'end', width: '15%' },
        { text: 'รายละเอียด', value: 'garbage_details', sortable: false, align: 'center' },
        { text: 'จัดการ', value: 'manage', sortable: false, align: 'center' }
      ],
      items: [],
      search: ''
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const garbages = await garbageApi.find()
      this.items = garbages.data
    },
    exportExcel () {
      const mapData = this.items.map((item, index) => ({
        'ลำดับ': index + 1,
        'ชื่อขยะ': item.garbage_name,
        'ประเภทขยะ': item.garbage_category.garbage_category_name,
        'รายละเอียด': item.garbage_details,
        'ราคาที่รับซื้อ': item.garbage_price
      }))
      const sheet = XLSX.utils.json_to_sheet(mapData)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, sheet, 'ขยะที่รับซื้อ')
      XLSX.writeFile(wb, 'ขยะที่รับซื้อ.xlsx')
    },
    showDetailGarbageDialog (data) {
      this.$refs.detailDialogComponent.show(data)
    },
    showGarbageDialog (data) {
      this.$refs.garbageDialogComponent.show(data)
    },
    showDeleteGarbageDialog (data) {
      this.$refs.deleteDialogComponent.show(data._id, data.garbage_name)
    },
    async confirmGarbage (data, isEdit) {
      let status
      const { _id, ...rest } = data
      if (!isEdit) {
        await garbageApi.create(rest)
        status = 'สร้าง'
      } else {
        await garbageApi.update(_id, rest)
        status = 'แก้ไข'
      }
      this.$refs.garbageDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `${status}สำเร็จ...` })
    },
    async confirmDelete (data) {
      await garbageApi.delete(data.id)
      this.$refs.deleteDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `ลบ ${data.name} สำเร็จ...` })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
