<template>
  <v-container>
    <div class="d-flex align-center mb-3">
      <p class="text-h5 font-weight-bold mb-0"> จัดการข่าวสาร </p>
      <v-spacer />
      <v-btn class="black--text" large @click="showNewsDialog()"> + เพิ่มข่าวสาร </v-btn>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางจัดการข่าวสาร </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search">
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.news_image`]="{ item }">
          <v-img class="mx-auto my-4" :src="item.news_image" width="80" height="80" />
        </template>
        <template #[`item.news_src`]="{ item }">
          <p class="text-truncate mb-0" style="max-width: 380px">{{ item.news_src }}</p>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn elevation="0" icon x-small @click="showNewsDialog(item)">
            <v-icon> mdi mdi-pencil </v-icon>
          </v-btn>
          <v-btn elevation="0" icon x-small @click="showDeleteNewsDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <newsDialogComponent ref="newsDialogComponent" @confirm="confirmNews" @fetchData="fetchData" />
    <deleteDialogComponent ref="deleteDialogComponent" dialog-name="ลบข้อมูล" @confirm="confirmDelete" />
  </v-container>
</template>

<script>
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import newsDialogComponent from '@/components/dialogs/forms/news.vue'
import deleteDialogComponent from '@/components/dialogs/etc/delete.vue'
import newsApi from '@/services/api/newsApi'
import { mixins } from '@/mixins'
export default {
  name: 'NewsPage',
  components: { dataTableEtcComponent, newsDialogComponent, deleteDialogComponent },
  mixins: [mixins],
  data () {
    return {
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '10%' },
        { text: 'รูปภาพข่าวสาร', value: 'news_image', sortable: false, align: 'center', width: '15%' },
        { text: 'ลิงค์ข่าวสาร', value: 'news_src', sortable: false, width: '30%' },
        { text: 'จัดการ', value: 'manage', sortable: false, align: 'center', width: '20%' }
      ],
      items: [],
      search: ''
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const news = await newsApi.find()
      this.items = news.data
    },
    showNewsDialog (data) {
      this.$refs.newsDialogComponent.show(data)
    },
    showDeleteNewsDialog (data) {
      this.$refs.deleteDialogComponent.show(data._id, data.news_image)
    },
    async confirmNews (data, isEdit) {
      let status
      const { _id, ...rest } = data
      if (!isEdit) {
        await newsApi.create(rest)
        status = 'สร้าง'
      } else {
        await newsApi.update(_id, rest)
        status = 'แก้ไข'
      }
      this.$refs.newsDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `${status}สำเร็จ...` })
    },
    async confirmDelete (data) {
      await newsApi.delete(data.id)
      this.$refs.deleteDialogComponent.close()
      await this.fetchData()
      this.sweatAlert({ position: this.$vuetify.breakpoint.xs ? 'top' : 'top-end', title: `ลบ ${data.name} สำเร็จ...` })
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
