<template>
  <v-container>
    <div class="d-flex flex-column flex-lg-row justify-end">
      <v-btn class="rounded-lg mr-3 mb-3 mb-lg-0" :width="$vuetify.breakpoint.mobile ? '100%' : ''" :disabled="items.length <= 0" color="green" height="64" outlined @click="exportExcel">
        <v-icon left size="28"> mdi mdi-export </v-icon>
        <span> Export To Excel </span>
      </v-btn>
      <v-card class="rounded-lg mb-3 mr-0 mr-lg-3" :max-width="$vuetify.breakpoint.mobile ? '100%' : '300'" max-height="300" outlined>
        <v-card-title class="justify-center"> ยอดเงินที่ได้รับแล้ว {{ summaryTotalPaid }} บาท </v-card-title>
      </v-card>
      <v-card class="rounded-lg mb-3" :max-width="$vuetify.breakpoint.mobile ? '100%' : '300'" max-height="300" outlined>
        <v-card-title class="justify-center"> ยอดเงินที่ยังไม่ได้รับ {{ summaryTotalOutstanding }} บาท </v-card-title>
      </v-card>
    </div>
    <v-card rounded="lg">
      <v-card-title>
        <p class="mb-0"> ตารางตรวจสอบรายงานจากลูกค้า </p>
        <v-spacer />
        <v-text-field v-model="search" append-icon="mdi-magnify" label="ค้นหา" color="black" hide-details outlined dense />
      </v-card-title>
      <dataTableEtcComponent :headers="headers" :items="items" :search="search" :expanded.sync="expanded" item-key="_id" show-expand single-expand>
        <template #[`item.number`]="{ index }">
          {{ index + 1 }}
        </template>
        <template #[`item.payment`]="{ item }">
          <div class="d-flex justify-center">
            <v-chip class="d-block text-center mb-0" :color=" item.is_paid ? 'success' : 'error'" small style="width: 100px">{{ item.is_paid ? 'ได้รับเงินแล้ว' : 'ยังไม่ได้รับเงิน' }}</v-chip>
          </div>
        </template>
        <template #[`item.created_at`]="{ item }">
          <p class="mb-0 py-4">{{ `${formatDate(item.created_at)} น.` }}</p>
        </template>
        <template #[`item.updated_at`]="{ item }">
          <p class="mb-0 py-4">{{ item.is_paid ? `${formatDate(item.updated_at)} น.` : 'ยังไม่ได้รับเงิน' }}</p>
        </template>
        <template #expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <table class="w-100 pa-4">
              <tr>
                <th class="text-center px-4"> รูปภาพ </th>
                <th class="text-start px-4"> ชื่อขยะ </th>
                <th class="text-end px-4"> ราคา (กก. ละ) </th>
                <th class="text-center px-4"> รายละเอียด </th>
                <th class="text-start px-4"> ประเภท </th>
                <th class="text-center px-4"> จำนวนที่ฝาก </th>
                <th class="text-end px-4"> ราคารวม </th>
              </tr>
              <tr v-for="(transaction, index) in item.transaction" :key="index">
                <td class="d-flex justify-center pa-4">
                  <v-img :src="transaction.garbages.garbage_image[0]" width="80" height="80" />
                </td>
                <td class="pa-4">{{ transaction.garbages.garbage_name }}</td>
                <td class="text-end pa-4">{{ transaction.garbages.garbage_price }} บาท</td>
                <td class="text-center pa-4">
                  <v-btn elevation="0" rounded outlined x-small @click="showDetailCategoryDialog(transaction.garbages.garbage_details)"> ดูรายละเอียด </v-btn>
                </td>
                <td class="pa-4">{{ transaction.garbages.garbage_category.garbage_category_name }}</td>
                <td class="text-center pa-4">{{ transaction.transaction_history_weight }} กิโลกรัม</td>
                <td class="text-end pa-4">{{ transaction.transaction_history_total }} บาท</td>
              </tr>
            </table>
          </td>
        </template>
        <template #[`item.manage`]="{ item }">
          <v-btn class="mx-1" elevation="0" :disabled="item.is_paid" icon x-small @click="showPaymentDialog(item)">
            <v-icon> mdi mdi-account-credit-card </v-icon>
          </v-btn>
          <v-btn class="mx-1" elevation="0" icon x-small @click="showDeleteTransactionDialog(item)">
            <v-icon> mdi mdi-trash-can </v-icon>
          </v-btn>
        </template>
      </dataTableEtcComponent>
    </v-card>
    <detailDialogComponent ref="detailDialogComponent" dialog-name="รายละเอียด" />
  </v-container>
</template>

<script>
import transactionHistoryApi from '@/services/api/transactionHistoryApi'
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import detailDialogComponent from '@/components/dialogs/etc/detail.vue'
import * as XLSX from 'xlsx'
import { mixins } from '@/mixins'
export default {
  name: 'HistoryPage',
  components: { dataTableEtcComponent, detailDialogComponent },
  mixins: [mixins],
  data () {
    return {
      search: '',
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '5%' },
        { text: 'วันที่ฝากขยะ', value: 'created_at', sortable: false, align: 'center' },
        { text: 'สถานะ', value: 'payment', sortable: false, align: 'center' },
        { text: 'ราคารวม (บาท)', value: 'summary_price', sortable: false, align: 'end' },
        { text: 'น้ำหนักรวม (กก.)', value: 'summary_weight', sortable: false, align: 'end' },
        { text: 'วันที่รับเงิน', value: 'updated_at', sortable: false, align: 'center' },
        { text: 'เพิ่มเติม', value: 'data-table-expand', align: 'center', width: '10%' }
      ],
      items: [],
      expanded: []
    }
  },
  computed: {
    summaryTotalPaid () {
      return this.items.filter(item => item.is_paid).reduce((total, item) => total + item.summary_price, 0)
    },
    summaryTotalOutstanding () {
      return this.items.filter(item => !item.is_paid).reduce((total, item) => total + item.summary_price, 0)
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const transaction = await transactionHistoryApi.find()
      const storage = localStorage.getItem('user')
      const storageJSON = storage ? JSON.parse(storage) : false
      const userID = storageJSON.user._id
      this.items = transaction.data.filter(item => item.user._id === userID)
    },
    showDetailCategoryDialog (data) {
      this.$refs.detailDialogComponent.show(data)
    },
    exportExcel () {
      const mapData = this.items.map((item, index) => ({
        'ลำดับ': index + 1,
        'วันที่ฝาก': this.formatDate(item.transaction_history_date),
        'ชื่อขยะ': item.garbages.garbage_name,
        'ประเภทขยะ': item.garbages.garbage_category.garbage_category_name,
        'รายละเอียด': item.garbages.garbage_details,
        'ราคาที่รับซื้อ': item.garbages.garbage_price,
        'จำนวนที่ฝาก': item.transaction_history_weight,
        'รวม': item.transaction_history_total
      }))
      const sheet = XLSX.utils.json_to_sheet(mapData)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, sheet, 'ประวัติการทำรายการ')
      XLSX.writeFile(wb, 'ประวัติการทำรายการ.xlsx')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>