<template>
  <v-container class="primary" fluid>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-card class="pa-6" rounded="xl" elevation="0">
            <v-card-title class="flex-column flex-sm-row justify-center justify-sm-space-between mb-4 pa-0">
              <p class="mb-4 mb-md-0"> สรุปผลในรูปแบบของ Card </p>
              <v-spacer />
              <v-row class="pr-6">
                <v-col v-if="$vuetify.breakpoint.mdAndUp" cols="12" md="4" />
                <v-col cols="12" md="4">
                  <v-text-field v-model="date" label="ฟิลเตอร์" color="black" prepend-inner-icon="mdi-calendar" dense outlined hide-details readonly @click="openDatePicker" />
                </v-col>
                <v-col cols="12" md="4">
                  <v-btn :disabled="summary.length <= 0" color="green" height="40" outlined @click="exportExcelSummary">
                    <v-icon left size="28"> mdi mdi-export </v-icon>
                    <span> Export To Excel </span>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-title>
            <v-card-subtitle class="text-center text-sm-start mt-4 mt-md-0 px-0 pb-4"> แสดงผลสรุปโดยแยกเป็นการ์ดตามรายละเอียดด้านล่างนี้ </v-card-subtitle>
            <v-card-text class="pa-0">
              <v-row>
                <v-col v-for="(item, index) in summary" :key="index" cols="12" sm="6" md="6" lg="3">
                  <summaryCardComponent :title="item.title" :value="item.total" :description="item.description" :suffix="item.suffix" :background-color="item.backgroundColor" :avatar-color="item.avatarColor" :icon="item.icon" :loading="loading" />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <chartCardComponent ref="chartBarCard" :loading="loading" title="กราฟแสดงปริมาณขยะที่ถูกนำมาฝาก" subtitle="กราฟแสดงปริมาณชนิดของขยะที่ถูกนำมาฝาก">
            <template #title>
              <v-btn class="mt-lg-2 m-lgr-2" :absolute="!$vuetify.breakpoint.mobile" :disabled="barChart.datasets[0].data.length <= 0" height="40" color="green" right outlined @click="exportExcelChart">
                <v-icon left size="28"> mdi mdi-export </v-icon>
                <span> Export To Excel </span>
              </v-btn>
            </template>
          </chartCardComponent>
        </v-col>
        <v-col cols="12">
          <v-card class="pa-6" rounded="xl" elevation="0">
            <v-spacer />
            <v-card-title class="justify-center pa-0 pb-4"> การจัดอันดับ </v-card-title>
            <dataTableEtcComponent :headers="headers" :items="items">
              <template #[`item.number`]="{ index }">
                {{ index + 1 }}
              </template>
              <template #[`item.user`]="{ item }">
                <div v-if="item.user" class="d-flex align-center py-3">
                  <v-avatar class="mr-4" size="32">
                    <v-img v-if="item.user" :src="item.user.image ? item.user.image : require('@/assets/images/not_found_img.jpg')" />
                  </v-avatar>
                  <p class="mb-0">{{ `${item.user.first_name} ${item.user.last_name}` }}</p>
                </div>
                <p v-else class="mb-0 py-4"> ไม่พบผู้ร้องเรียน </p>
              </template>
              <template #[`item.payment`]="{ item }">
                <v-chip class="d-block text-center mb-0" :color=" item.is_paid ? 'success' : 'error'" small style="width: 100px">{{ item.is_paid ? 'ชำระเงินแล้ว' : 'ยังไม่ได้ชำระเงิน' }}</v-chip>
              </template>
              <template #[`item.created_at`]="{ item }">
                <p class="mb-0 py-4">{{ `${formatDate(item.created_at)} น.` }}</p>
              </template>
              <template #[`item.updated_at`]="{ item }">
                <p class="mb-0 py-4">{{ item.is_paid ? `${formatDate(item.updated_at)} น.` : 'ยังไม่ได้ชำระเงิน' }}</p>
              </template>
            </dataTableEtcComponent>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <datePickerDialogComponent ref="datePickerDialogComponent" dialogName="ฟิลเตอร์" @confirm="filterByDate" />
  </v-container>
</template>

<script>
import summaryCardComponent from '@/components/cards/backOffice/summary.vue'
import chartCardComponent from '@/components/cards/backOffice/chart.vue'
import dataTableEtcComponent from '@/components/etc/dataTable.vue'
import datePickerDialogComponent from '@/components/dialogs/etc/datePicker.vue'
import transactionHistoryApi from '@/services/api/transactionHistoryApi'
import { mixins } from '@/mixins'
import * as XLSX from 'xlsx'
export default {
  name: 'DashboardPage',
  components: {
    summaryCardComponent,
    chartCardComponent,
    dataTableEtcComponent,
    datePickerDialogComponent
  },
  mixins: [mixins],
  data () {
    return {
      loading: true,
      summary: [],
      items: [],
      headers: [
        { text: 'ลำดับ', value: 'number', sortable: false, align: 'center', width: '5%' },
        { text: 'ผู้ฝากขยะ', value: 'user', sortable: false, width: '20%' },
        { text: 'สถานะ', value: 'payment', sortable: false, align: 'center' },
        { text: 'ราคารวม (บาท)', value: 'summary_price', sortable: false, align: 'end', width: '15%' },
        { text: 'น้ำหนักรวม (กก.)', value: 'summary_weight', sortable: false, align: 'end', width: '15%' },
        { text: 'วันที่ฝากขยะ', value: 'created_at', sortable: false, align: 'center', width: '20%' },
        { text: 'วันที่ชำระเงิน', value: 'updated_at', sortable: false, align: 'center', width: '20%' }
      ],
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      barChart: {
        labels: [],
        datasets: [{
          label: 'ปริมาณขยะที่ถูกนำมาฝาก',
          data: [],
          borderWidth: 1,
          backgroundColor: [],
          borderColor: [],
          hoverOffset: 4,
          grouped: false
        }]
      }
    }
  },
  computed: {
    chartColors () {
      const dataLength = this.barChart.labels.length
      return Array.from({ length: dataLength }, () => this.getRandomRgba())
    }
  },
  async mounted () {
    await this.fetchData(this.date)
    this.renderBarChart()
  },
  methods: {
    async fetchData (date) {
      const transaction = await transactionHistoryApi.find()
      const filteredTransactions = transaction.data.filter(item => this.formatDate(item.created_at).split(' ')[0] === this.formatDate(date).split(' ')[0] && item.user.role !== 0)
      const summaryPrice = filteredTransactions.reduce((total, item) => total + item.summary_price, 0)
      const summaryTotalPaid = filteredTransactions.filter(item => item.is_paid).reduce((total, item) => total + item.summary_price, 0)
      const summaryTotalOutstanding = filteredTransactions.filter(item => !item.is_paid).reduce((total, item) => total + item.summary_price, 0)
      const summaryWeight = filteredTransactions.reduce((total, item) => total + item.summary_weight, 0)
      const flatTransactions = filteredTransactions.flatMap(entry =>
        entry.transaction.map(item => ({
          _id: item.garbages._id,
          garbage_name: item.garbages.garbage_name,
          transaction_history_weight: item.transaction_history_weight
        }))
      )
      // นับผลรวมของ qty สำหรับแต่ละ garbage_id
      const qtySummary = flatTransactions.reduce((acc, { _id, garbage_name, transaction_history_weight }) => {
        if (!acc[_id]) {
          acc[_id] = { garbage_name, transaction_history_weight: 0 }
        }
        acc[_id].transaction_history_weight += transaction_history_weight
        return acc
      }, {})
      const labels = Object.values(qtySummary).map(item => item.garbage_name)
      const qty = Object.values(qtySummary).map(item => item.transaction_history_weight)
      this.summary = [
        { title: 'ยอดฝากขยะสะสม', total: summaryPrice, description: 'ยอดเงินฝากขยะสะสม', suffix: 'บาท', avatarColor: '#BF83FF', icon: 'mdi mdi-bank', backgroundColor: '#F3E8FF' },
        { title: 'น้ำหนักขยะสะสม', total: summaryWeight, description: 'ปริมาณขยะที่ถูกนำมาฝาก', suffix: 'กิโลกรัม', avatarColor: '#FF947A', icon: 'mdi mdi-weight-kilogram', backgroundColor: '#FFF4DE' },
        { title: 'ยอดที่ชำระแล้ว', total: summaryTotalPaid, description: 'ยอดเงินที่ชำระให้ลูกค้าแล้ว', suffix: 'บาท', avatarColor: '#3CD856', icon: 'mdi mdi-currency-usd', backgroundColor: '#DCFCE7' },
        { title: 'ยอดที่ค้างชำระ', total: summaryTotalOutstanding, description: 'ยอดที่ยังไม่ได้ชำระให้ลูกค้า', suffix: 'บาท', avatarColor: '#FA5A7D', icon: 'mdi mdi-currency-usd-off', backgroundColor: '#FFE2E5' }
      ]
      this.barChart.labels = labels
      this.barChart.datasets[0].data = qty
      this.barChart.datasets[0].backgroundColor = this.chartColors.map(color => color.color)
      this.barChart.datasets[0].borderColor = this.chartColors.map(color => color.borderColor)
      this.items = Object.values(filteredTransactions.reduce((acc, curr, index) => {
        const userId = curr.user._id
        if (!acc[userId]) {
          acc[userId] = { ...curr, index }
        } else {
          acc[userId].summary_price += curr.summary_price
          acc[userId].summary_weight += curr.summary_weight
        }
        return acc
      }, {})).sort((a, b) => b.summary_price - a.summary_price || a.index - b.index).slice(0, 10)
      this.loading = false
    },
    openDatePicker () {
      this.$refs.datePickerDialogComponent.show()
    },
    async filterByDate (date) {
      await this.fetchData(date)
      await this.$refs.chartBarCard.destroy()
      this.renderBarChart()
    },
    renderBarChart () {
      const barChartObj = { dataChart: this.barChart, type: 'bar' }
      this.$refs.chartBarCard.renderChart(barChartObj)
    },
    exportExcelSummary () {
      const mapData = this.summary.map((item, index) => ({
        'ลำดับ': index + 1,
        'หัวข้อ': item.title,
        'รายการ': item.name,
        'จำนวนครั้ง': item.total
      }))
      const sheet = XLSX.utils.json_to_sheet(mapData)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, sheet, 'จำนวนความถี่ของขยะที่ถูกนำมาฝาก')
      XLSX.writeFile(wb, 'ความถี่ของขยะที่ถูกนำมาฝาก.xlsx')
    },
    exportExcelChart () {
      const combinedArray = this.barChart.labels.map((item, index) => ({
        title: item,
        total: this.barChart.datasets[0].data[index]
      }))
      const mapData = combinedArray.map((item, index) => ({
        'ลำดับ': index + 1,
        'รายการ': item.title,
        'ปริมาณ': item.total
      }))
      const sheet = XLSX.utils.json_to_sheet(mapData)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, sheet, 'ปริมาณของขยะที่ถูกนำมาฝาก')
      XLSX.writeFile(wb, 'ปริมาณของขยะที่ถูกนำมาฝาก.xlsx')
    },
    getRandomRgba () {
      const red = Math.floor(Math.random() * 256)
      const green = Math.floor(Math.random() * 256)
      const blue = Math.floor(Math.random() * 256)
      const colorAlpha = 0.5
      const borderColorAlpha = 0.8 // ความโปร่งใสสำหรับขอบ
      const color = `rgba(${red}, ${green}, ${blue}, ${colorAlpha})`
      const borderColor = `rgba(${red}, ${green}, ${blue}, ${borderColorAlpha})`
      return { color, borderColor }
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
