<template>
  <v-card class="pa-3" :color="color" elevation="0" rounded="0">
    <v-row>
      <v-col cols="12" md="6">
        <v-row>
          <v-col
            v-for="(src, index) in images"
            :class="{'pb-0': index === 0}"
            :key="`image-${index}`"
            :cols="index === 0 ? 12 : (index === 1 && ($vuetify.breakpoint.xs || $vuetify.breakpoint.sm) ? 12 : 6)"
            :sm="index && (index === 1 ? 12 : 6)"
            :md="index && 4"
          >
            <v-img :height="index === 0 ? '425' : '150'" :src="src" />
          </v-col>
        </v-row>
      </v-col>
      <v-col class="d-flex align-center" cols="12" md="6">
        <div class="text-center text-md-start pa-3 pa-md-16">
          <v-card-title class="justify-center">{{ name }}</v-card-title>
          <v-card-text>{{ detail }}</v-card-text>
          <v-card-title class="pt-0"> ราคารับซื้อ {{ price }} บาท </v-card-title>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'GarbageCardComponent',
  props: {
    images: {
      type: Array,
      default: () => []
    },
    name: {
      type: String,
      default: 'Test'
    },
    price: {
      type: Number,
      default: 0
    },
    detail: {
      type: String,
      default: 'Test'
    },
    color: {
      type: String,
      default: ''
    },
    elevation: {
      type: String,
      default: '0'
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>