<template>
  <v-container class="d-flex flex-column justify-center align-center fill-height">
    <v-img :src="require('@/assets/images/notfound.jpg')" contain />
  </v-container>
</template>

<script>
export default {
  name: 'NotFoundPage'
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
