<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="500"
    @confirm="confirm"
    @cancel="clear"
  >
    <template #body>
      <v-form ref="form">
        <v-row>
          <template v-for="(image, index) in garbage.garbage_image">
            <v-col v-if="image.length > 0" class="d-flex justify-center align-center" :key="`image-${index}`" cols="12" md="3">
              <v-avatar v-if="!imageErrors[index]" size="100%" tile>
                <v-img :src="image" @error="imageLoadError(index)" />
              </v-avatar>
              <p v-else class="mb-0"> ไม่พบรูปภาพนี้ </p>
            </v-col>
          </template>
          <v-col v-for="(_, index) in garbage.garbage_image" class="pb-0" :key="index" cols="12">
            <v-text-field v-model="garbage.garbage_image[index]" :rules="rules.garbage_image" :append-icon="garbage.garbage_image.length > 1 ? 'mdi mdi-close' : ''" color="black" :label="`รูปภาพ รูปที่ ${index + 1}`" dense @input="updateImageErrors" @click:append="removeTextFieldImage(index)" />
          </v-col>
          <v-col v-if="garbage.garbage_image.length > 0 && garbage.garbage_image.length < 4" class="text-center py-0" cols="12">
            <v-btn icon outlined @click="addTextFieldImage">
              <v-icon>mdi mdi-plus</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field v-model="garbage.garbage_name" :rules="rules.garbage_name" color="black" label="ชื่อขยะ" />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field v-model="garbage.garbage_price" :rules="rules.garbage_price" color="black" label="ราคา" />
          </v-col>
          <v-col class="pb-0" cols="12">
            <v-textarea v-model="garbage.garbage_details" :rules="rules.garbage_details" color="black" label="รายละเอียด" outlined  />
          </v-col>
          <v-col cols="12">
            <v-select v-model="garbage.garbage_category" :items="category" :rules="rules.garbage_category" item-text="garbage_category_name" item-value="_id" item-color="black" color="black" label="ประเภทขยะ" dense />
          </v-col>
        </v-row>
      </v-form>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
import categoryApi from '@/services/api/garbagesApi/categoryApi'
import { mixins } from '@/mixins'
export default {
  name: 'ProfileDialogComponent',
  components: { baseDialogComponent },
  mixins: [mixins],
  data () {
    return {
      isEdit: false,
      isImgError: false,
      imageErrors: [],
      garbage: {
        garbage_image: [''],
        garbage_name: '',
        garbage_price: '',
        garbage_details: '',
        garbage_category: ''
      },
      rules: {
        garbage_image: [v => !!v || 'ต้องระบุ'],
        garbage_name: [v => !!v || 'ต้องระบุ'],
        garbage_price: [v => !!v || 'ต้องระบุ'],
        garbage_details: [v => !!v || 'ต้องระบุ'],
        garbage_category: [v => !!v || 'ต้องระบุ']
      },
      category: []
    }
  },
  computed: {
    dialogName () {
      return this.isEdit ? 'แก้ไขข้อมูลขยะ' : 'เพิ่มข้อมูลขยะ'
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const category = await categoryApi.find()
      this.category = category.data
    },
    show (data) {
      if (data) {
        this.isEdit = true
        this.garbage = { ...data }
      }
      this.updateImageErrors()
      this.$refs.baseDialogComponent.show()
    },
    imageLoadError (index) {
      this.$set(this.imageErrors, index, true)
    },
    updateImageErrors () {
      this.imageErrors = new Array(this.garbage.garbage_image.length).fill(false)
    },
    addTextFieldImage () {
      if (this.garbage.garbage_image.length > 0 && this.garbage.garbage_image.length < 4) {
        this.garbage.garbage_image.push('')
      }
    },
    removeTextFieldImage (index) {
      this.garbage.garbage_image.splice(index, 1)
    },
    confirm () {
      if (this.$refs.form.validate()) {
        this.$emit('confirm', this.garbage, this.isEdit)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    },
    clear () {
      this.garbage = {
        garbage_image: [''],
        garbage_name: '',
        garbage_price: '',
        garbage_details: '',
        garbage_category: ''
      }
      this.imageErrors = []
      this.isImgError = false
      this.isEdit = false
      this.$refs.form.resetValidation()
      this.$emit('fetchData')
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
