<template>
  <div>
    <v-container fluid>
      <v-container class="max-width-container">
        <v-row>
          <v-col v-for="(garbage, index) in garbages" :key="`garbages-${index}`" cols="12">
            <garbageCardComponent :images="garbage.garbage_image" :name="garbage.garbage_name" :price="garbage.garbage_price" :detail="garbage.garbage_details" color="primary" />
          </v-col>
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>

<script>
import garbageCardComponent from '@/components/cards/frontOffice/garbage.vue'
import garbagesApi from '@/services/api/garbagesApi'
export default {
  name: 'GarbagePage',
  components: { garbageCardComponent },
  data () {
    return {
      garbages: []
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const garbage = await garbagesApi.find()
      this.garbages = garbage.data
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
