<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style lang="scss">
  // ต้องมี comment เนื่องจากเชื่อมกับ scss
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: grey
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
</style>