<template>
  <baseDialogComponent
    ref="baseDialogComponent"
    :dialog-name="dialogName"
    color="backgroundColor"
    width="350"
    @confirm="confirm"
  >
    <template #body>
      <p class="text-center mb-0"> ต้องการลบ {{ obj.name }} หรือไม่ </p>
    </template>
  </baseDialogComponent>
</template>

<script>
import baseDialogComponent from '@/components/dialogs/base.vue'
export default {
  name: 'DetailDialogComponent',
  components: { baseDialogComponent },
  props: {
    dialogName: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      obj: {
        id: null,
        name: ''
      },
      custom: null
    }
  },
  methods: {
    show (id, name, custom) {
      this.$refs.baseDialogComponent.show()
      this.obj.id = id
      this.obj.name = name
      if (custom) {
        this.custom = custom
      }
    },
    confirm () {
      if (this.custom) {
        this.$emit('confirm', this.custom)
      } else {
        this.$emit('confirm', this.obj)
      }
    },
    close () {
      this.$refs.baseDialogComponent.cancel()
    }
  }
}
</script>

<style lang="scss" scoped>
// ต้องมี comment เนื่องจากเชื่อมกับ scss
</style>
